@import "./utils/variables";
@import "./base/bases";
*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
    color: black;
}
section{
    padding-top: 30px;
    padding-bottom:30px;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;    
    // box-shadow: 0 10px 8px 0 rgba(0,0,0,10); ombre mais pas visible à cause du background de la sectoin d'après

    & img{
        width:50%;
        object-fit: scale-down;
    }
}

.accueil-localisation{
        display:flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-top:0px;
        background-color: whitesmoke;
    &-contenu{
        h2{
            margin-top:50px;
            margin-bottom:20px;
        }
    }
    &__ville{
        background:lightgrey;
        width: 100%;
        height:50px;
        display:flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.2);
    }
    .fa-location-dot{
        padding-right: 15px;
        padding-left: 15px;
    }    
}
.ohmyfood__button{
    border-radius:30px;
    height:40px;
    width:70%;
    margin:7%;
    border-style:none;
    color:white;
    background:linear-gradient(0.51turn,$secondaire-color,$primaire-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-tuto-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.accueil-tuto{
    h2{
       margin-left: 20px;
       margin-bottom:20px;
    }
}
.card--small{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:10px;
    padding-top: 20px;
    padding-bottom:20px;
    border-radius:20px;
    margin:10px;
    margin-bottom:20px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   
    &__chiffre{
        padding:3px;
        padding-right:8px;
        padding-left:8px;
        border-radius:20px;
        background:$primaire-color;
        color:white;
        &__1{
            position: absolute;
            left:7%;
        }
        &__2{
            position: absolute;
            left: 7%;
        }
        &__3{
            position: absolute;
            left:7%;
        }
    }
    &__icon{
        padding-left: 10px;
        padding-right:10px;
        position:absolute;
        left: 15%;
        
    }
}

.accueil-restaurant{
    display: flex;
    flex-direction: column;

    background:whitesmoke;
    h2{
        margin-left: 20px;
        margin-bottom:20px;
    }
}

.card--restaurant{
    background:white;
    margin-top: 20px;
    margin-right: 20px;
    margin-left:20px;
    border-radius: 20px 20px 20px 20px;

    &__nouveau{
        position: absolute;
        background:$tertiaire-color;
        color:darken($tertiaire-color,50%);
        font-weight: bold;
        right: 30px;
        margin-top:10px;        
        border-radius:2px;
        padding:5px;
        padding-right:8px;
        padding-left: 8px;
    }
    img{
        width:100%;
        height: 141.33px;
        margin-bottom: 10px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
    &__text{
        padding-left: 15px;
        padding-bottom:15px;
    }
    i{
        position: absolute;
        right: 50px;
        margin-top:-35px;
    }
}

.footer{
    background: lighten(black,20%);
    color: white;
    padding-left:20px;
    padding-top:15px;
    h2{
        font-family: 'Shrikhand', cursive;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom:10px;
        letter-spacing:1px;
    }
    ul{
        list-style: none;
    }
    li{
        padding-top:5px;
    }
    i{
        padding-right:10px;
    }
}

// page 'à la française'
.container--button{
    display: flex;
    justify-content: center;
    &__restaurant{
        margin-top:5%;
        margin-bottom:20%;
    }
}
.header--resto{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & a i{
        position:absolute;
        left: 30px;
        margin-top: -5px;
    }
    }
.image--restaurant{
    padding:0;
    position:absolute;
    z-index: -1;
    img{
        width:100%;
        height: auto;
        margin-bottom: 10px;
        object-fit: cover;
    }
}
.plat--restaurant{
    z-index: 90;
    margin-top: 60%;
    border-radius: 30px 30px 0 0;
    background:white;
}
.titre--restaurant{
    display: flex;
    flex-direction: row;
    padding-top:10px;
    padding-bottom:5px;
    border-radius:30px 30px 0 0;
    h2{
        font-family: 'Shrikhand', cursive;
        margin-left: 20px;
    }
    i{
        position:absolute;
        right:30px;
        margin-top:5px;
    }
}

.entre--restaurant{
    padding-top: 20px;
    padding-bottom:20px;
    display:flex;
    flex-direction:column;
    align-items: center;
    h3{
        align-self: flex-start;
        margin-bottom:35px;
        margin-left: 20px;
        font-weight:300;
    }
    &__border-bottom{
        border-bottom:$tertiaire-color solid 3px;
        padding-bottom:4px;
    }
}  

.card--small__resto{   
    flex-direction: row;
    justify-content: space-between;
    width:90%;
    height: 80px;
    opacity:0;
    animation: chargement 1s ease-in-out 1s forwards;
    padding-right:0px;
    overflow:hidden;
    

    &__detailcontainer{
        display: flex;
        flex-direction: column;  
        justify-self:flex-end; 
        overflow: hidden;
        &--titre{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
        &--detail{
            white-space: nowrap;
            overflow:hidden;
            text-overflow: ellipsis;
            
        }
    }
    
    &__checkcontainer{
        display: flex;
        flex-direction: row;
        transition: width 1s;
        &--prix{
            padding:20px;
        }
        &--check{
            margin-top: -20px;
            height: 80px;
            width:0;
            right: 50px;
            border-radius:0 20px 20px 0;
            background-color: $tertiaire-color;
            transition: width 1s;
            display:flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
    }
    
    &:hover  .card--small__resto__checkcontainer--check{
        width:90px; 
    }
    &:hover  .fa-circle-check{
        animation: rotate 0.5s forwards;
    }
   
}

.fa-circle-check{
    color: white;
}


@keyframes chargement {
    0%   { margin-top: 20px;opacity:0; }
    100% { margin-top: 0;opacity:1; }
    }

@keyframes verticalanim {
    0%   { width:0;}
    100% { width:90px;}
    }

@keyframes rotate {
    0% { transform: rotate(-290deg);}
    100%{ transform: rotate(0deg);}
    }


    @media screen and (max-width:1024px){
        .card--small__chiffre{
            &__1{
               position: absolute; 
               left: 7%;
            }
            &__2{
                position: absolute; 
                left: 7%; 
            }
            &__3{
                position:absolute;
                left: 7%;
            }
        }
    }
    @media screen and (max-width:1440px){
        .card--small__chiffre{
            &__1{
               position: absolute; 
               left: 8.5%;
            }
            &__2{
                position: absolute; 
                left: 8.5%; 
            }
            &__3{
                position:absolute;
                left: 8.5%;
            }
        }
    }
    @media screen and (max-width:768px){
        .card--small__chiffre{
            &__1{
               position: absolute; 
               left: 5%;
            }
            &__2{
                position: absolute; 
                left: 5%; 
            }
            &__3{
                position:absolute;
                left: 5%;
            }
        }
    }